<?xml version="1.0" encoding="UTF-8"?>

<instrument title="Chase's Test Library" description="This is a description for the instrument lol" preview="https://youtube.com/slkejfilkd">
  <tags>
    <tag>piano</tag>
    <tag>dark</tag>
  </tags>
  
  <presets>
    <preset title="Basic Ambient Piano">
      <module name="defaultknob" version="0.1.0" index="1" x="50" y="50">
        <parameters>
          <parameter name="value" value="50"/>
          <parameter name="x" value="400"/>
          <parameter name="y" value="200"/>
        </parameters>
      </module>
      <module name="defaultreverb" version="0.1.0" index="2" x="100" y="100">
        <parameters>
          <parameter name="density" value="70"/>
          <parameter name="decay" value="300"/>
          <parameter name="dry/wet" value="50"/>
        </parameters>
      </module>
      <module name="defaultsampler" version="0.1.0" index="3" x="100" y="100">
        <parameters>
          <parameter name="defaultpiano" value="70"/>
        </parameters>
      </module>
      <connections>
        <connection source_module="1" source_index="1" dest_module="2" dest_index="3"/>
      </connections>
    </preset>
  </presets>
</instrument>
